<h2>Mes séances</h2>
<ul>
    {% for seance in user.seances %}
        <li>
             {{ seance.programme.titre }}
             {{ seance.programme.description }}
             {{ seance.statut }}
             {{ seance.date|date('d/m/Y') }}
            <form method="post" action="{{ path('app_seance_delete', {'id': seance.id}) }}" onsubmit="return confirm('Supprimer cette séance ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seance.id) }}">
                <button class="btn btn-danger btn-sm">Supprimer</button>
            </form>
        </li>
    {% else %}
        <li>Aucune séance associée.</li>
    {% endfor %}
</ul>

<a href="{{ path('app_programme_index') }}">Réserver une séance</a>
